<%= form_for ([@event, @bid_number]),:html => {:class => "form-horizontal center"} do |f|%>

	<% if @bid_number && @bid_number.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@bid_number.errors.count, "error") %> prohibited this bid_number from being saved:
			</h2>
			<ul>
				<% @bid_number.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="form-group">
		<%= f.label :bid_number, class: "col-md-4 control-label"%>
		<div class="col-md-8">
		<%= f.text_field :bid_number , size: 40 %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :fee_adjustment, class: "col-md-4 control-label"%>
		<div class="col-md-8">
		<%= f.text_field :fee_adjustment , size: 40 %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-8">
			<%= f.submit "Submit", class: "btn btn-default btn-primary"%>
		</div>
	</div>
<% end %>
