<%= form_for ([@event, @auction]),:html => {:class => "form-horizontal center"} do |f|%>

	<% if @auction && @auction.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:
			</h2>
			<ul>
				<% @auction.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<p class="redbgcolor"> Enter Fair Market Value as Zero for Dessert And Fund a Need</p>
	<div class="form-group">
		<%= f.label :name, class: "col-md-4 control-label"%>
		<div class="col-md-8">
		<%= f.text_field :name , size: 40 %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :description, class: "col-md-4 control-label"%>
		<div class="col-md-8">
		<%= f.text_area :description, cols: 40 %>
		</div>
	</div>
	<div class="form-group">
	<%= f.label :auction_type, class: "col-md-4 control-label"%>
		<div class="col-md-8">
			<%= f.select(:auction_type) do %>
	 			 <% [['SILENT_AUCTION','SILENT_AUCTION'],['FUND_A_NEED','FUND_A_NEED'],['MERCHANDISE','MERCHANDISE'],['DESSERT_DASH','DESSERT_DASH']].each do |c| -%>
		 			 	<% if @auction && @auction.auction_type == c.first %>
		    		 		<%= content_tag(:option, c.first, value: c.last, selected: true) %>
		    		 	<% else %>
		    		 		<%= content_tag(:option, c.first, value: c.last) %>
		    		 	<% end %>
				 <% end %>
			<% end %>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :donor_id, class: "col-md-4 control-label"%>
		<div class="col-md-8">
			<% if @auction && @auction.donor_id %>
				<%= f.select(:donor_id, guests_for_donor_select, {:prompt => "Select donor", :include_blank => true , :selected => @auction.donor_id})%>
				<%else%>
				<%= f.select(:donor_id, guests_for_donor_select, {:prompt => "Select donor", :include_blank => true})%>
			<%end%>
		</div>
	</div>
	<div class="form-group">
		<%= f.label :fair_market_value, class: "col-md-4 control-label"%>
		<div class="col-md-8">
		<%= f.text_field :fair_market_value %>
		</div>
    </div>
	<div class="form-group">
		<%= f.label :status, class: "col-md-4 control-label"%>
		<div class="col-md-8">
			<%= f.select(:status) do %>
	 			 <% [['OPEN'], ['CLOSED']].each do |c| -%>
	    		 	 <% if @auction && @auction.status== c.first %>
	    		 		<%= content_tag(:option, c.first, value: c.last, selected: true) %>
	    		 	 <% else %>
	    		 		<%= content_tag(:option, c.first, value: c.last) %>
	    		 	 <% end %>
				 <% end %>
			<% end %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-8">
			<%= f.submit "Submit", class: "btn btn-default btn-primary"%>
		</div>
	</div>

<% end %>
