    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <% my_url = "http://localhost:3000" %>
          <a class="navbar-brand" href=<%=my_url%>>Share</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
          <ul class="nav navbar-nav navbar-right">

            <li><a href=<%=my_url + "/events" %>>Events</a></li>
            <li><a href=<%=my_url+"/events/1/guests"%>>Guests</a></li>
            <li><a href=<%=my_url+"/events/1/auctions"%>>Auctions</a></li>
            <li><a href=<%=my_url+"/events/1/bid_numbers"%>>Bid Numbers</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
        <h2>SHARE</h2>
    </div>